* {
  margin: 0;
  padding: 0;
  font-family: 'Oswald', sans-serif;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(141, 255, 141);
  height: 100vh;
  overflow: hidden;
  position: relative;
  min-width: 280px;
}

#svg {
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#svg g.organ {
  cursor: pointer;
}

#svg g.organ:hover {
  filter: opacity(0.7);
}

div.backdrop {
  position: absolute;
  display: none;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  background-color: rgba(7, 7, 7, 0.2);
}

div.modal {
  position: absolute;
  display: none;
  flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 74vh;
  width: 90vw;
  max-width: 600px;
  background-color: #fff;
  border-radius: 15px;
}

svg.modal {
  position: relative;
  width: 100%;
  height: 50%;
}

div.infos {
  height: 50%;
  padding: 0 1.5rem 1.5rem;
  overflow-y: auto;
}

div.infos h2 {
  text-align: center;
  margin-bottom: .5rem;
}

div.infos p {
  font-size: 1.2rem;
}
